body{background-color: white;
border: 1px solid blue;
}

.blar1{color: blue; 
    text-align: center;
    font-family: Arial;
}


.raudur1{color: rgb(170, 11, 11);
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

h3{margin: 20px;
}

h4{margin: 20px;
}

h5{margin: 20px;
}

h6{margin: 20px;
}

span{color: red;
}
 .breyta_letri{font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
 }
 .breyta_letri2{font-family:Arial, Helvetica, sans-serif;
    color: blue;
    margin: 20px;
    padding-left: 5ch;
    font-size: 18px;
     }
.breyta_letri3{font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: blue;
    margin: 20px;
    padding-left: 5ch;
}
.graenn1{font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(7, 121, 7);
    margin: 20px;
    padding-left: 5ch;
   
}
.raudur2{color: red; 
    text-align: center;
    font-family: Arial;
}
.svartu1{font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    margin: 20px;
    padding-left: 5ch;
    
}
.breyta_letri4{font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: blue;
}

a{
    background: lime;
}
s{ 
    padding-left: 5ch;
    padding-right: 5ch;
}
